html,body{
    font-size: 16px;
}

.userImg{
    max-width: 75px;
    width: 100%;

}
.bleu{
    color: blue;
}
.bg-lighter-green{
    background-color: #ccffcc;
}
.feedImg{
    max-width: 60px;
    width: 100%;
}

h5{
    font-size: 16px;
}
.white{
    text-decoration: none;
    color: white;
}
.txtResp{
    max-font-size: 16px;
    min-font-size: 5px;
    font-size-adjust: initial;
}