header {
    position: relative;
    background-color: black;
    min-height: 94.5vh;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    left: 50%;
    top: 52.665vh;
    width: 100vw;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
    header {
        position: relative;
        background-color: red;
        min-height: 42.5vh;
        width: 100%;
        overflow: hidden;
    }

    header video {
        position: absolute;
        left: 50%;
        top: 26.7vh;
        width: 100vw;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    header .container {
        position: relative;
        z-index: 2;
    }
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 480px) {
    header {
        position: relative;
        background-color: red;
        min-height: 43vh;
        width: 100%;
        overflow: hidden;
    }

    header video {
        position: absolute;
        left: 50%;
        top: 31vh;
        width: 100vw;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    header .container {
        position: relative;
        z-index: 2;
    }
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
