body {
  font-size: 10px;
}

.navbar-sam .navbar-brand {
  color: #f40c96;
}

.navbar-sam .navbar-brand:hover, .navbar-sam .navbar-brand:focus {
  color: #f40c96;
}

.navbar-sam .navbar-nav .nav-link {
  color: rgba(244, 12, 150, 0.5);
}

.navbar-sam .navbar-nav .nav-link:hover, .navbar-sam .navbar-nav .nav-link:focus {
  color: rgba(244, 12, 150, 0.75);
}

.navbar-sam .navbar-nav .nav-link.disabled {
  color: rgba(244, 12, 150, 0.25);
}

.navbar-sam .navbar-nav .show > .nav-link,
.navbar-sam .navbar-nav .active > .nav-link,
.navbar-sam .navbar-nav .nav-link.show,
.navbar-sam .navbar-nav .nav-link.active {
  color: #f40c96;
}

.navbar-sam .navbar-toggler {
  color: rgba(244, 12, 150, 0.5);
  border-color: rgba(244, 12, 150, 0.1);
}

.navbar-sam .navbar-text {
  color: rgba(244, 12, 150, 0.5);
}

.navbar-sam .navbar-text a {
  color: #f40c96;
}

.navbar-sam .navbar-text a:hover, .navbar-sam .navbar-text a:focus {
  color: #f40c96;
}

.bg-sam {
  background-color: #9ed5fc;
}

.nav-item {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

.jpink {
  color: #f40c96;
}

.vm {
  vertical-align: middle;
}

.pt-nav {
  padding-top: 109.48px;
}

.py-7 {
  padding-top: 19vh;
  padding-bottom: 19vh;
}

.pt-7 {
  padding-top: 19vh;
}

.py-6 {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.py-66 {
  padding-top: 13vh;
  padding-bottom: 13vh;
}

.pb-6 {
  padding-bottom: 10vh;
}

.pb-7 {
  padding-bottom: 19vh;
}

.pb-ad {
  padding-bottom: 6vh;
}

.pt-6 {
  padding-top: 10vh;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-50 {
  font-size: 5rem;
}

.bg-lore {
  background-color: #16496e;
}

.bg-card {
  background-color: #9ed5fc;
}

.text-card {
  color: #ad076a;
}

.text-color {
  color: #f40c96;
}

.thicc {
  width: 100vw;
}

.par {
  background-image: url(../img/car5.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center 109.48px;
  background-repeat: no-repeat;
  background-size: cover;
}

.vm {
  vertical-align: middle;
}

.pmid {
  padding-top: 40vh;
}

.video {
  height: 100%;
  width: 100%;
}

.video3 {
  height: 75%;
  width: 100%;
}

.video1 {
  height: 80vh;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .fs-12 {
    font-size: 0.6rem;
  }

  .fs-15 {
    font-size: 0.75rem;
  }

  .fs-16 {
    font-size: 0.8rem;
  }

  .fs-20 {
    font-size: 1rem;
  }

  .fs-30 {
    font-size: 1.5rem;
  }

  .fs-50 {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .display-4 {
    font-size: 1.2rem;
  }

  .py-66 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .fs-12 {
    font-size: 0.9rem;
  }

  .fs-15 {
    font-size: 1.125rem;
  }

  .fs-16 {
    font-size: 1.2rem;
  }

  .fs-20 {
    font-size: 1.5rem;
  }

  .fs-30 {
    font-size: 2.25rem;
  }

  .fs-50 {
    font-size: 3.75rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .display-4 {
    font-size: 1.8rem;
  }

  .py-66 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
